@tailwind base;
@tailwind components;
@tailwind utilities;

.container1 {
  width: 80%;
  margin: auto;
}
.img-pago {
  width: 3vw;
  margin-left: 10px;
}

.home {
  width: 100%;
 margin-top: 32px;
  height: 53vh;
  overflow: hidden;
  position: relative;
}
.home-p {
  font-size: 3rem;
  font-family: Ultra;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0.7rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0 4rem;
  z-index: 3;
  text-shadow: 0 0 0.5rem rgb(9, 9, 34);
  margin-top: 7rem;
}
.home-button {
  position: absolute;

  top: 3rem;
  z-index: 3;
  margin-top: 10rem;
}

@media (min-width: 576px) {
  .navbar-table {
    display: none;
  }
}

@media (max-width: 576px) {
  .carousel-root1 {
    width: 80%;
    margin: auto;
  }
  .img-pago {
    display: none;
  }
  .home-button {
    display: none;
  }
}
@media (max-width: 992px) {

	.home-button {
	  display: none;
	}
  .home-p {
    font-size: 2rem;
    margin-top: 4rem;
  }
  
  }